<!DOCTYPE html>
<html>
  <head>
    <title>Startsiden</title>
            <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style></style>
  </head>
  <body>
  <h1>Afprøvning af ansible på {{ inventory_hostname }}</h1>
  <p>Vagrant instansen opdateres fra remote ansible node</p>
  <p><a href=index.html>Retur til Startsiden</a></p>
  <p>Hovedsteder:</p>
  <ul>
    {% for city in cities %}
    <li> {{ city }} </li>
    {% endfor %}
  </ul>
  </body>
</html>
 
