[Desktop Entry]
Type=Application
Name=FreeFileSync
GenericName=Folder Comparison and Synchronization
Exec=/home/{{ user }}/programs/FreeFileSync/FreeFileSync %F
Icon=/home/{{ user }}/bin/images/FreeFileSync.png
NoDisplay=false
Terminal=false
Categories=Utility;FileTools;
StartupNotify=true