[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/home/{{ user }}/bin/images/NoSQLBooster.jpeg
Name=NoSQLBooster
Exec=/home/{{ user }}/programs/nosqlbooster4mongo-5.2.9.AppImage
Comment=NoSQLBooster for MongoDB
Name=NoSQLBooster
Comment=NoSQLBooster for MongoDB
