[Desktop Entry]
Comment=Postmann API tester
Exec=/home/{{ user }}/programs/Postman/Postman
GenericName=Postman API tester
Icon=/home/{{ user }}/bin/images/Postman.png
MimeType=
Name=Postman
Path=/home/{{ user }}/programs/Postman
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
